@inject IHttpContextAccessor accessor
@* <header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Đặt phòng khách sạn</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Room" asp-action="Index">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">About</a>
                    </li>
                </ul>

                <div class="d-flex justify-content-around">
                    <ul class="navbar-nav me-auto">

                        @{
                            if (accessor.HttpContext.Session.GetString("UserName") == null 
                            && accessor.HttpContext.Session.GetString("admin") == null
                            && accessor.HttpContext.Session.GetString("nhanvien") == null)
                            {

                                <li class="nav-item">
                                    <a class="nav-link" href="/account/login">Đăng nhập</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/account/signup">Đăng kí</a>
                                </li>
                            }
                            //nếu có 1 lại tài khoản bất kì đăng nhập thì đổi lai giao diện
                            else
                            {
                                <li class="nav-item">
                                    <div class="nav-link">@accessor.HttpContext.Session.GetString("UserName")</div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            }
                        }
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>
 *@


@inject IHttpContextAccessor accessor

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Đặt phòng <span> Khách sạn</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Room" asp-action="Index">Danh sách phòng</a>
                </li>

                @if (accessor.HttpContext.Session.GetString("UserName") == null
                                && accessor.HttpContext.Session.GetString("admin") == null
                                && accessor.HttpContext.Session.GetString("nhanvien") == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Signup">Đăng ký</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <div class="nav-link">@accessor.HttpContext.Session.GetString("UserName")</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact">Thông tin liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
