@inject IHttpContextAccessor accessor

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Đặt phòng <span> Khách sạn</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Hotel" asp-action="Index">Khách sạn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Room" asp-action="Index">Danh sách phòng</a>
                </li>

                @if (accessor.HttpContext.Session.GetString("UserName") == null
                                && accessor.HttpContext.Session.GetString("admin") == null
                                && accessor.HttpContext.Session.GetString("nhanvien") == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Signup">Đăng ký</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <div class="nav-link">@accessor.HttpContext.Session.GetString("UserName")</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact">Thông tin liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
