@model BookingRoomHotel.Models.Media

@{
    ViewData["Title"] = "Create";
}
<div class="mt-5">
    <div>
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DungCho" class="control-label"></label>
                    <select class="form-select" asp-for="URL">
                        <option value="" style="display:none;"></option>
                        <option value="LoaiPhong">LoaiPhong</option>
                        <option value="Room">Room</option>
                    </select>
                    <span asp-validation-for="DungCho" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaLoaiPhong" class="control-label"></label>
                    <input asp-for="MaLoaiPhong" class="form-control" />
                    <span asp-validation-for="MaLoaiPhong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TieuDe" class="control-label"></label>
                    <input asp-for="TieuDe" class="form-control" />
                    <span asp-validation-for="TieuDe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Loai" class="control-label"></label>
                    <input asp-for="Loai" class="form-control" />
                    <span asp-validation-for="Loai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="URL" class="control-label"></label>
                    <select class="form-select" asp-for="URL">
                        <option value="" style="display:none;"></option>
                        <option value="Video">Video</option>
                        <option value="Image">Image</option>
                    </select>
                    <span asp-validation-for="URL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>

