@model BookingRoomHotel.Models.LoaiPhong

@{
    ViewData["Title"] = "Edit";
}


<div class="mt-5">
    <div>
        <a class="btn btn-primary" onclick="sendJwt('/LoaiPhongs/Index','')">Back to List</a>
    </div>
    <div >
        <form onsubmit="return sendJwtAndData('/LoaiPhongs/Edit/', '@Model.MaLoaiPhong')" id="formData">
            <div class="col-lg-12">
                <div class="row formtype">
                    <input type="hidden" asp-for="MaLoaiPhong" />
                    <div class="col-md-4">
                        <label asp-for="TenLoaiPhong" class="control-label">Name</label>
                        <div class="form-group">
                            <input asp-for="TenLoaiPhong" class="form-control" />
                            <span asp-validation-for="TenLoaiPhong" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SoGiuong" class="control-label">Bed Count</label>
                            <div class="form-group">
                                <select class="form-control" asp-for="SoGiuong">
                                    <option>Select</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                                <span asp-validation-for="SoGiuong" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SoLuongToiDa" class="control-label">SoLuongToiDa people</label>
                            <div class="form-group">
                                <select class="form-control" asp-for="SoLuongToiDa">
                                    <option>Select</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                                <span asp-validation-for="SoLuongToiDa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="GiaTu" class="control-label"></label>
                            <div class="custom-file mb-3">
                                <input asp-for="GiaTu" type="number" min="0" class="form-control" />
                                <span asp-validation-for="GiaTu" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="GiaDen" class="control-label"></label>
                            <div class="custom-file mb-3">
                                <input asp-for="GiaDen" type="number" min="0" class="form-control" />
                                <span asp-validation-for="GiaDen" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DienTich" class="control-label"></label>
                            <div class="custom-file mb-3">
                                <input asp-for="DienTich" type="number" min="0" class="form-control" />
                                <span asp-validation-for="DienTich" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Huong" class="control-label"></label>
                            <div class="custom-file mb-3">
                                <input asp-for="Huong" class="form-control" />
                                <span asp-validation-for="Huong" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Description 1</label>
                            <textarea class="form-control" rows="5" asp-for="MoTa1"></textarea>
                            <span asp-validation-for="MoTa1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Description 2</label>
                            <textarea class="form-control" rows="5" i asp-for="MoTa2"></textarea>
                            <span asp-validation-for="MoTa2" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Description 3</label>
                            <textarea class="form-control" rows="5" asp-for="MoTa3"></textarea>
                            <span asp-validation-for="MoTa3" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Image Upload</label>
                            <div class="custom-file mb-3">
                                <input type="file" name="Images" accept="image/*" multiple>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Youtube Video ID</label>
                            <div class="custom-file mb-3">
                                <input name="VideoID" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

