@model BookingRoomHotel.ViewModels.StaffLoginViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Chào mừng | Đăng nhập vào Bảng điều khiển";
}

<div class="main-wrapper modal-dialog-centered">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox mx-auto">
                <div class="login-left">
                    <img class="img-fluid" src="~/images/Admin/FPT_QN.jpg" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Đăng nhập</h1>
                        <p class="account-subtitle">Truy cập vào bảng điều khiển</p>

                        <form onsubmit="return loginAdmin()" id="loginAdminForm" method="post" asp-action="Login" asp-controller="Admin">
                            @Html.AntiForgeryToken()
                            <div class="mb-3">
                                <label asp-for="TenDangNhap" class="form-label">Tên đăng nhập</label>
                                <input asp-for="TenDangNhap" class="form-control" type="text" placeholder="Nhập tên đăng nhập" />
                                <span asp-validation-for="TenDangNhap" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Password" class="form-label">Mật khẩu</label>
                                <input asp-for="Password" class="form-control" type="password" placeholder="Nhập mật khẩu" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <button class="btn btn-primary btn-block w-100" type="submit">Đăng nhập</button>
                            </div>
                        </form>

                        <div class="text-center forgotpass">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" data-bs-dismiss="modal">Quên mật khẩu?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function loginAdmin() {
            return true;
        }
    </script>
}
